<li *ngIf="cartItems.length > 0" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    My Cart <span class="badge bg-secondary">{{cartItems.length}}</span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li *ngFor="let cartItem of cartItems">
      <p class="dropdown-item">
        <span class="badge bg-info text-dark">{{cartItem.quantity}}</span>{{cartItem.product.productName}}
        <span (click)="removeFromCart(cartItem.product)" class="badge bg-info text-dark delete">Delete</span>
      </p>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item openChart" >Open My Cart</a></li>
  </ul>
</li>